[submodule "debian"]
	path = debian
	url = https://github.com/blitzy-public-samples/blitzy-debian-dnsmasq.git
[submodule "submodules/dnsmasq-debian"]
	path = submodules/dnsmasq-debian
	url = https://github.com/blitzy-public-samples/blitzy-debian-dnsmasq.git
